<ul id="gear-dropdown" class="gear-dropdown hidden">
	<li>
		<ul class="editions">
			<p class="dropdown-subtitle">Edition</p>
			<li><a href="#">CSS</a></li>
			<li><a href="#">HTML</a></li>
			<li><a href="#">Javascript</a></li>
			<li><a href="#">Ruby</a></li>
		</ul>
	</li>
	<li>
		<p class="dropdown-subtitle">Help</p>
		<ul class="help">
			<li><a href="#">FAQ</a></li>
			<li><a href="#">Contact Us</a></li>
		</ul>
	</li>
</ul>
