<main class="main-content group">
<section class="news-articles col col-2-3 group">
  <section class="main-article col col-1-3">
    <article>
      <h4 class="article-title article-title--lg">
        <a href="#">Launching the New React/Redux Curriculum</a>
      </h4>
      <p class="article-author">By APP ACADEMY INSTRUCTIONAL TEAM</p>

      <ul class="list__bullet">
        <li><p>It helps you write applications that behave consistently, run in different environments (client, server, and native), and are easy to test. On top of that, it provides a great developer experience, such as live code editing combined with a time traveling debugger.</p></li>
        <li><p>The whole state of your app is stored in an object tree inside a single store. The only way to change the state tree is to emit an action, an object describing what happened. To specify how the actions transform the state tree, you write pure reducers.<p></li>
      </ul>
      <a class="article-comments" href="#">1738 Comments</a>
    </article>
  </section>

  <section class="mid-section col col-2-3">
    <article class="featured-video">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/ARe9FupzuOA" frameborder="0" allowfullscreen></iframe>
      <p class="article__summary">Warning: This video will make you want to change your career</p>
    </article>
    <hr>
    <article class="middle-article">
      <h4 class="article-title article-title--sm">
        <a href="#">Where Are They Now?</a>
      </h4>
      <p class="article-author">By APP ACADEMY ALUMNI</p>
      <p class="article-summary">First hand stories from App Academy graduates about transitioning to engineering positions at top tech companies in San Francisco.</p>
    </article>
    <hr>
    <article class="middle-article">
      <h4 class="article-title article-title--sm">
        <a href="#">Cat Academy</a>
      </h4>
      <p class="article-author">By APP ACADEMY DIRECTOR OF PRODUCTS</p>
      <p class="article-summary">App Academy's latest product targets those interested in owning the popular feline companion by providing a curated cat care curriculum.</p>
    </article>
  </section>    
  <hr class="hr-top">
  <hr class="hr-bottom">
</section>
    
<section class="opinions col col-1-3 group">
  <h2 class="opinions-title center">The Opinion Pages</h2>
  <section class="op-contributor col col-1-2"> 
    <h3 class="op-category">Op-Ed Contributor</h3>
    <article>
      <h4 class="article-title article-title--sm">
        <a href="#">Will Javascript ever be as easy as Ruby?</a>
      </h4>
      <p>Javscript continues to advance with the newly released EcmaScript7 but it still doesn't quite read like Ruby.</p>
      <ul class="list__bullet">
        <li>Torvalds: When I Was Almost Wrong</li>
        <li>Knuth: Art of Programming</li>
        <li>Lovelace: The First Algorithm</li>
        <li>Hopper: The First Bug</li>
        <li>Thompson: Go C Unix</li>
        <li>Carmack: My Virtual Reality</li>
        <li>Stallman: Free Speech Not Free Coffee</li>
      </ul>
    </article>
  </section>
  <section class="op-operations col col-1-2">
    <h3 class="op-category">Operations</h3>
    <article>
      <h4 class="article-title article-title--sm">
        <a href="#">App Academy New York Has A Brand New Office</a>
      </h4>
      <p class="article-author">By NY OPERATIONS</p>
      <p>The new space features hardwood floors and brick walls for a modern technology space with an aura for learning.</p>
      <div class="thumbnail">
        <img src="/images/new_office.jpg" alt="interior of building">
      </div>
    </article>
    <article>
      <h4 class="article-title article-title--sm">
        <a href=#>Opinion Today, in your Inbox</a>
      </h4>
      <p>Each weekday, get though-provoking commentary from our columnists and contributors.</p>
    </article>
  </section>
  <div class="sign-up clear-both">  
    <form class="form__sign-up" action="#" method="POST">
      <input type="text"
        class="input__email"
        name="subscriber[email]"
        placeholder="Get the Opinion newsletter by email"
        value="">
      <input type="submit"
        class="btn input__submit"
        value="Sign Up">
    </form>

    <p class="subscribe-note">We'll also send offers to join the App Academy Bootcamp. You can never unsubscribe.</p>
  </div>
  <hr class="hr-top">
  <hr class="hr-bottom">
</section>
<section class="overlay hidden" id="overlay"></section>
</main>
