<section class="search-modal" id="search-modal">
  <button id="modal-close" class="close"></button>
  <form class="form__search" action="#" method="GET">
    <input type="text"
      class="input__search"
      name="search[query]"
      value="">
    <input type="submit"
      class="btn"
      value="go">
  </form>
</section>
