<section id="sections-sidebar" class="sections-sidebar">
  <nav>
    <ul class="sections-links">
      <li><a href="#">Home Page</a></li>
      <li><a href="#">World</a></li>
      <li class="sidebar-submenu">
        <a href="#">San Francisco</a>
        <ul>
          <li class="submenu-title"><h4>San Francisco</h4></li>
          <li><a href="#">Students</a></li>
          <li><a href="#">Teaching Assistants</a></li>
          <li><a href="#">Instructors</a></li>
          <li><a href="#">Career Advisors</a></li>
          <li><a href="#">Cats</a></li>
        </ul>
      </li>
      <li><a href="#">New York</a></li>
      <li class="sidebar-submenu">
        <a href="#">Bootcamp Prep</a>
        <ul>
          <li class="submenu-title"><h4>Bootcamp Prep</h4></li>
          <li><a href="#">Students</a></li>
          <li><a href="#">Instructors</a></li>
          <li><a href="#">Cats</a></li>
        </ul>
      </li>
      <li><a href="#">Jumpstart</a></li>
      <li class="sidebar-submenu">
        <a href="#">Online</a>
        <ul>
          <li class="submenu-title"><h4>Online</h4></li>
          <li><a href="#">Immersive</a></li>
          <li><a href="#">Bootcamp Prep</a></li>
          <li><a href="#">Cats</a></li>
        </ul>
      </li>
      <li><a href="#">Marketing</a></li>
      <li class="sidebar-submenu">
        <a href="#">Sales</a>
        <ul>
          <li class="submenu-title"><h4>Sales</h4></li>
          <li><a href="#">Associates</a></li>
          <li><a href="#">Analytics</a></li>
          <li><a href="#">Cats</a></li>
        </ul>
      </li>
      <li><a href="#">TalentMatch</a></li>
      <li class="sidebar-submenu">
        <a href="#">Alumni</a>
        <ul>
          <li class="submenu-title"><h4>Alumni</h4></li>
          <li><a href="#">Students</a></li>
          <li><a href="#">Companies</a></li>
          <li><a href="#">Opinions</a></li>
          <li><a href="#">Cats</a></li>
        </ul>
      </li>
    </ul>
  </nav>
</section>
