// Use the gear_dropdown.png screenshot as a style guide
.gear-dropdown {
  position: absolute;
  top: 35px;
  right: 0px;
  width: 250px;
  border: 1px solid $light-gray;
  border-radius: 5px;
  background-color: #fff;
  z-index: 3;
  font-family: $sans-serif;
  color: $dark-gray;
  box-shadow: -1px 4px 6px 1px rgba(0, 0, 0, 0.09);
  padding: 10px;
}

.gear-dropdown ul li {
  text-transform: uppercase;
  padding: 5px 5px;
}

.gear-dropdown ul li:hover {
  background-color: $light-gray;
  border-radius: 5px;
}

.gear-dropdown a {
  font-size: 14px;
}

.dropdown-subtitle {
  padding: 10px 5px; 
  font-weight: 700;
  text-transform: uppercase;
}

.help li {
  color: $blue;
  text-decoration: underline;
}
