.search-modal {
  width: 100vw;
  position: relative;
  left: calc(-50vw + 50%);
  background-color: #fff;
  padding: 30px 0;
  border-top: 1px solid $light-gray;
  border-bottom: 1px solid $light-gray;
  box-shadow: 2px 3px 3px rgba(0,0,0,0.07);
  margin-top: -1px;
}

.close {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 7px;
  right: 12px;
  background-color: $light-gray;
  border-radius: 50%;
}

.close:hover {
  background-color: $gray;
}

.close:before,
.close:after {
  position: absolute;
  display: block;
  content: "";
  background-color: #fff;
  height: 14px;
  width: 2px;
  left: 9px;
  top: 3px;
}

.close:before {
  transform: rotate(45deg);
}

.close:after {
  transform: rotate(-45deg);
}

.form__search {
  display: flex;
  justify-content: center;
}

.input__search {
  flex: 0.4;
  border-radius: 3px;
  margin-right: 10px;
  box-shadow: inset 2px 3px 3px rgba(0,0,0,0.07);
}

@media screen and (max-width: 1000px) {
  .search-modal {
    margin-top: -2px;
  }
  .input__search {
    flex: 0.8;
  }
}
